@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}
